/*

write your code here

*/
/*Boxes block with pictures and words*/
img.thumbnail {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}
.tm-box-bg-title:nth-child(odd):hover,
.submit-btn:hover {
    background: #31B0D5;
}
.tm-section-title-box:hover{
    color: white;
    font-weight: bold;
}
.tm-box-bg-title {
    background: white;
    font-size: 300%;
}
/*Paragraph first letter change*/
div>p::first-letter {
    color: #97D9E2;
    font-size: 30px;
}
.flex-item p::first-letter {
    margin-left: 20px;
}
/*All boxes shadowing*/
.tm-sidebar,
.tm-content-box {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
/*All section triangle*/
section::before,
.margin-b-10::before {
    content: "";
    display: block;
    margin-left: 0;
    border-bottom: 25px solid transparent;
    border-left: 100px solid #31B0D5;
    position: absolute;
}
/*Paragraph style change*/
p:first-of-type {
    font-style: italic;
}
p.tm-banner-text {
    font-style: unset;
}
/*How we do it*/
.carousel-inner>div>div>div>h2 {
    color: gainsboro;
    letter-spacing: 5px;
}
/*We are.. block*/
.heading>.pad>h2 {
    text-align: center;
}
.heading>div>h2 {
    color: #97D9E2;
}
.heading>div a:link,
a:active {
    color: black;
}
.heading>div a:visited {
    color: silver;
}
.heading>div a:hover {
    color: #97D9E2;
    text-decoration-style: double;
}
.heading>div a.text::after {
    content: "New";
    vertical-align: super;
    font-size: xx-small;
    color: red;
    text-decoration: unset;
}
/*Gallery */
.box:nth-child(odd) {
    background: #F2F2F2;
}
.boxes>li>div>p::first-letter {
    color: black;
    margin-left: unset;
}
.boxes>li>div>p {
    font-size: x-large;
}
.boxes>li>div>h2 {
    font-size: 300%;
}
/*Nav bar*/
.tm-main-nav {
    padding-top: 0;
    padding-bottom: 0;
}
li.tm-nav-item {
    border-bottom: 2px dotted silver;
}
li.tm-nav-item:last-child {
    border-bottom: none;
}
/*Work with us*/
INPUT[type="text"],
INPUT[type="email"],
textarea.form-control,
.submit-btn {
    color: red;
}
.form-group-2-col-right::after {
    content: "*";
    color: red;
    font-size: medium;
    font-weight: bold;
}
.submit-btn:hover {    
	border: none;
}
/*Print version*/
@media print {
    .tm-content-box {
        display: unset;
    }
    p:first-of-type {
        font-style: unset;
    }
    .flex-item p::first-letter {
        margin-left: 0;
    }
    div>p::first-letter {
        color: black;
        font-size: 100%;
    }
    div>p.tm-banner-text::first-letter {
        color: #666;
    }
    .pad {
        padding: 0 50px;
    }
    .tm-team-description-container {
        max-width: 95%;
    }
    img+p {
        color: #666;
        font-weight: 300;
        margin-top: 0;
    }
    .tm-main-content {
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }
    h2.tm-section-title {
        color: #2b05ff;
    }
    section:nth-child(n+3),
    #about,
    .tm-sidebar {
        display: none;
    }
    .tm-banner {
        height: 250px;
    }
    section::before,
    .margin-b-10::before {
        content: none;
    }
    .flex-item img {
        margin: 0 auto;
        display: block;
    }
    .flex-2-col>.flex-item:nth-child(2) {
        padding-bottom: 20px;
    }
}