/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
/*:root {
  --bg-color--dark: #0a1223;
  --bg-color--light: #fff;
  --link: #5d5d5d;
  --link--active: #54597d;
  --link--hover: #54597d;
  --article-title: #ddd;
  --article-title--dark: #000;
  --thumbnail--description: #5d5d5d;

  !* These styles are needed only for media query max-width: 575px *!

  !* The 'Up' button (circle button at right bottom corner) *!
  --btn-color: #fff;
  --btn-bg-color: #5ebcff;

  --navigation-border-bottom: #ddd;
  --thumbnail-title: #484747;
}*/
/*Content style*/
body {
    margin: 0;
    background-color: #0a1223;
}
.contentWrapper {
    max-width: 1600px;
    margin: 0 auto;
}
h1, h2{
    color: #ffffff;
}
h2 {
    font-size: xx-large;
}
p {
    color: #5d5d5d;
    text-indent: 20px;
    text-align: justify;
}
img {
    width: 100%;
}
/*Header*/
.headerWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: 2;
}
.headerNavigation nav{
    text-align: right;
    margin-top: 30px;
}
a {
    color: #5d5d5d;
    text-decoration: none;
    padding: 20px;
}
a:active {
    color: #54597d;
}
a:hover {
    color: #54597d;
}
.headerTitle {
    text-align: center;
    font-size: 300%;
    margin-top: 100px;
}
/*Main Wrapper*/
.mainWrapper {
    margin: 100px 0px;
}
.imgTitleParagraph {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    align-items: center;
    justify-content: center;
    margin: 0px 200px;
}
.imgTitleParagraph:nth-child(even) .mainImgContainer{
    grid-column: 1;
}
.imgTitleParagraph:nth-child(even) .mainTitleAndParagraph{
    grid-column: 2;
}
.mainWrapper h2 {
    background: linear-gradient(90deg, #ffffff 0%, #484747 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.up {
    display: none;
}
/*First media screen*/
@media screen and (max-width: 991px){
    h1, h2{
        color: #ffffff;
    }
    p {
        color: #5d5d5d;
    }
    img {
        margin: 50px 0px;
    }
    .headerNavigation nav{
        text-align: center;
    }
    .headerNavigation nav a{
        padding-right: 50px;
        font-size: x-large;
    }
    .headerTitle {
        margin-top: 100px;
        text-align: center;
        font-size: 200%;
    }
    .imgTitleParagraph {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 50px;
    }
    .imgTitleParagraph:nth-child(even) .mainImgContainer{
        grid-column: 1;
    }
    .imgTitleParagraph:nth-child(even) .mainTitleAndParagraph{
        grid-column: 1;
    }
}
/*Second media screen*/
@media screen and (max-width: 575px){
    body {
        margin: 0;
        background-color: #fff;
    }
    nav{
        width: 100%;
    }
    h1{
        color: #000000;
        font-size: 250%;
    }
    h2 {
        color: #484747;
    }
    .mainWrapper h2 {
        background: linear-gradient(90deg, #484747 0%, #484747 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .headerWrapper{
        width: 100%;
    }
    .headerNavigation nav a{
        display: block;
        font-size: xx-large;
        border-bottom: 1px solid #ddd;
        text-align: left;
        padding: 10px;
    }
    .headerNavigation nav a:hover{
        color: #54597d;
        font-weight: bold;
    }
    .mainTitleAndParagraph{
        font-size: 150%;
        text-align: left;
    }
    .up{
        display: block;
        color: #fff;
        background-color: #5ebcff;
        border-radius: 50%;
        font-size: 20px;
        text-align: center;
        position: fixed;
        padding: 20px 20px;
        right: 30px;
        bottom: 30px;
        box-shadow: 10px 10px 10px #ddd;
    }
    a.up:hover {
        color: #ffffff;
    }
}