$contentBackground: #efefef;
$articleBackground: #fff;
$mainHAndBtnColor: #fd572f;
$borderColor: #d2d7db;
$dateColor: #b9b9b9;
$paragraphColor: #657b88;
$laterColor: #757575;
$styleText: Arial, Helvetica, sans-serif;