body {
  background: #efefef;
  font-family: Arial, Helvetica, sans-serif; }

/*Main-wrapper style*/
.main-wrapper {
  width: 960px;
  margin: 0 auto;
  background: #efefef; }

header {
  height: 230px;
  position: relative; }

.logo {
  width: 35.7%;
  height: 100%;
  float: left; }
  .logo img {
    width: 100%; }

/*Nav bar*/
nav {
  position: absolute;
  border-top: 1px solid #d2d7db;
  border-bottom: 1px solid #d2d7db;
  width: 64.3%;
  float: left;
  bottom: 15%;
  right: 0; }
  nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 30%;
    margin: 18px 0;
    text-transform: uppercase;
    color: #fd572f; }

/*Search*/
.toolbar {
  height: 67px; }
  .toolbar input {
    border: 1px solid #fd572f;
    width: 15%;
    float: right;
    padding: 10px 20px;
    background: #efefef; }
    .toolbar input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fd572f;
      opacity: 1; }

/*Post-list*/
.post-list {
  float: left;
  height: 100%; }

article {
  width: 48.2%;
  background: #fff;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top; }
  article img {
    width: 95%;
    margin-left: 12.5px;
    margin-top: 10px;
    display: block; }
  article:nth-child(even) {
    margin-left: 30px; }

p {
  width: 90%;
  margin-top: 0;
  margin-left: 23.1px;
  line-height: 1.5;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #757575; }

h3 {
  width: 90%;
  margin: 5px 23.1px;
  color: #657b88;
  text-transform: uppercase; }

.post-description {
  border-bottom: 1px solid #d2d7db;
  width: 90%;
  margin: 0 auto;
  padding: 10px 5px;
  font-size: small;
  color: #b9b9b9; }

section.about {
  float: left;
  width: 100%;
  margin-top: 25px; }
  section.about img {
    width: 100%; }
  section.about p {
    margin-left: 0;
    width: 100%;
    padding-bottom: 0; }
  section.about h1 {
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #fd572f; }

/*Contact form*/
section.contact-form {
  float: left;
  width: 100%;
  margin-top: 25px; }

.about div {
  display: block; }

.contact-form h1 {
  text-align: right;
  margin-bottom: 0;
  color: #fd572f; }
.contact-form h4 {
  margin-top: 0;
  text-align: right;
  text-transform: uppercase;
  color: #fd572f; }
.contact-form input {
  padding: 5px 20px;
  background: #efefef;
  border: 1px solid #d2d7db; }
.contact-form textarea {
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #efefef;
  border-style: solid;
  border-color: #d2d7db; }

.form-control {
  width: 920px;
  height: 35px; }

.form-control-message {
  width: 920px;
  height: 100px; }

.form-group {
  margin-bottom: 20px; }

.submit-btn {
  border-radius: 0;
  background: #fd572f;
  border: none;
  color: #efefef;
  float: right;
  font-size: 1.4em;
  font-weight: 300;
  padding: 15px 100px; }

/*Footer*/
footer {
  clear: both;
  font-size: small; }
