@charset "utf-8";
@mixin headline($textAlign, $textTransform){
  text-align: $textAlign;
  text-transform: $textTransform;
}
body {
  background: $contentBackground;
  font-family: $styleText;
}
/*Main-wrapper style*/
.main-wrapper {
  width: 960px;
  margin: 0 auto;
  background: $contentBackground;
}
header {
  height: 230px;
  position: relative;
}
.logo {
  width: 35.7%;
  height: 100%;
  float: left;
  img {
    width: 100%;
  }
}
/*Nav bar*/
nav {
  position: absolute;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  width: 64.3%;
  float: left;
  bottom: 15%;
  right: 0;
  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 30%;
    margin: 18px 0;
    text-transform: uppercase;
    color: $mainHAndBtnColor;
  }
}
/*Search*/
.toolbar {
  height: 67px;
  input {
    border: 1px solid $mainHAndBtnColor;
    width: 15%;
    float: right;
    padding: 10px 20px;
    background: $contentBackground;
    &::placeholder {/* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $mainHAndBtnColor;
      opacity: 1;
    }
  }
}
/*Post-list*/
.post-list {
  float: left;
  height: 100%;
}
article {
  img {
    width: 95%;
    margin-left: 12.5px;
    margin-top: 10px;
    display: block;
  }
  width: 48.2%;
  background: $articleBackground;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  &:nth-child(even) {
    margin-left: 30px;
  }
}
p {
  width: 90%;
  margin-top: 0;
  margin-left: 23.1px;
  line-height: 1.5;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: $laterColor;
}
h3 {
  width: 90%;
  margin: 5px 23.1px;
  color: $paragraphColor;
  text-transform: uppercase;
}
.post-description {
  border-bottom: 1px solid $borderColor;
  width: 90%;
  margin: 0 auto;
  padding: 10px 5px;
  font-size: small;
  color: $dateColor;
}
section.about {
  float: left;
  width: 100%;
  margin-top: 25px;
  img {
    width: 100%;
  }
  p {
    margin-left: 0;
    width: 100%;
    padding-bottom: 0;
  }
  h1 {
    @include headline(right, uppercase);
    margin-bottom: 5px;
    color: $mainHAndBtnColor;
  }
}
/*Contact form*/
section.contact-form {
  float: left;
  width: 100%;
  margin-top: 25px;
}
.about {
  div {
    display: block;
  }
}
.contact-form {
  h1 {
    text-align: right;
    margin-bottom: 0;
    color: $mainHAndBtnColor;
  }
  h4 {
    margin-top: 0;
    @include headline(right, uppercase);
    color: $mainHAndBtnColor;
  }
  input {
    padding: 5px 20px;
    background: $contentBackground;
    border: 1px solid $borderColor;
  }
  textarea {
    padding: 10px 20px;
    font-family: $styleText;
    background: $contentBackground;
    border-style: solid;
    border-color: $borderColor;
  }
}
.form-control {
  width: 920px;
  height: 35px;
}
.form-control-message {
  width: 920px;
  height: 100px;
}
.form-group {
  margin-bottom: 20px;
}
.submit-btn {
  border-radius: 0;
  background: $mainHAndBtnColor;
  border: none;
  color: $contentBackground;
  float: right;
  font-size: 1.4em;
  font-weight: 300;
  padding: 15px 100px;
}
/*Footer*/
footer {
  clear: both;
  font-size: small;
}