$contentBackground: #fff;
$articleBackground: #efefef;
$mainHAndBtnColor: #20bcd3;
$borderColor: #617d89;
$dateColor: #478d80;
$paragraphColor: #0f9ba3;
$laterColor: #627D88;
$styleText: Arial, Helvetica, sans-serif;